main(role='main')
  include hero
  .album.py-5.bg-light
    .container
      .row
        each val in [1,2,3,4,5,6,7,8,9]
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='https://source.unsplash.com/random/300x170', alt='Card image cap')
              .card-body
                a.text-black-50(href=`/detail_event/${val}`)
                  h5.card-title Communities, find your allies, make bigger impact!
                p.text-muted(style="font-size: 14px") 
                  | by&nbsp;
                  span.text-capitalize Hasna Khairunnisa

                .border.border-top.border-primary.mb-3

                .d-flex.justify-content-between.flex-column
                  .d-flex.justify-content-between.align-items-center
                    .text-green 23 Days Left
                    .d-flex.justify-content-between.align-items-center(style="width: 130px")

                      //- add class `TEXT-PRIMARY` if no need to looking again
                      i.fa.fa-money-bill-alt.fa-lg.text-primary(
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Need Founding"
                      )
                      i.fa.fa-building.fa-lg.text-muted(
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Need Vanue"
                      )
                      i.fa.fa-camera-retro.fa-lg.text-primary(
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Need Branding"
                      )
                      i.fa.fa-users.fa-lg.text-muted(
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Need Human Resources"
                      )
                  .d-flex.mt-3
                    a.badge.badge-secondary.badge-pill.text-white.mr-1(href="#") #hastags
                    a.badge.badge-secondary.badge-pill.text-white.mr-1(href="#") #hastags
